.centered-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: Helvetica, sans-serif;
  font-size: large;
}

.response-text {
  margin-top: 20px;
  font-weight: bold;
}

label {
  margin: 0px 0px 0px 50px; /* top - right - bottom - left */
}

textarea {
  margin: 20px 0px 0px 20px; /* top - right - bottom - left */
}

button {
  margin: 30px 10px 10px 50px; /* top - right - bottom - left */
}

p {
  margin: 20px 10px 100px 50px; /* top - right - bottom - left */
}

h1 {
  margin: 20px 10px 50px 0px; /* top - right - bottom - left */
}

body {
  background-color: rgb(230, 237, 239);
}
